:root {
  --mainColor: #ffffff;
  --mainColorOpac: rgba(255, 255, 255, 0.5);
  --mainColorSemiOpac: rgba(255, 255, 255, 0.7);
  --textColor: #222222;
  --accentColor: #FF5722;
  --secondColor: #607D8B;
  --thirdColor: #9E9E9E;

}

.header__menu a, .menu a {
  color: var(--secondColor);  
}

.menu__links a {
  color: var(--mainColor);
}

.overlay {
  background-color: var(--secondColor);
}

.overlay__cover {
  background: linear-gradient(to top, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0.6) 50%, 
  rgba(255, 255, 255, 1) 100%);
}


.intro {
  background-image: linear-gradient(135deg, var(--mainColor) 40%, rgb(158, 158, 158));
}

.projects__item::before {
  background: linear-gradient(to bottom, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0.7) 50%, 
  rgba(255, 255, 255, 0.9) 100%);
}

.contact a svg path {
  fill: var(--secondColor);
}

.contact {
  background: linear-gradient(135deg, rgb(158, 158, 158), transparent);
}