.contact__cover {
  height: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include breakpoint-up(medium) {
    flex-direction: row;
  }

  a {
    width: 4.0625rem;
    height: 4.0625rem;

    svg {
      
      path {
        fill: var(--thirdColor);
        transition: fill 300ms ease-in-out;
      }
    }
  }

  a[href^="mailto:"]::after {
    content: " ";
  }

  a:not(:last-child) {
    margin-bottom: 0.625rem;
    
    @include breakpoint-up(medium) {
      margin-bottom: 0;
      margin-right: 0.625rem;
    }
  }

  a:hover {
    
    svg path {
      fill: var(--accentColor);
    }

  }

}