.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a {
    width: 4.0625rem;
    height: 4.0625rem;

    svg {
      stroke: white;
      stroke-width: 10px;
      
      path {
        fill: none;
        transition: stroke 300ms ease-in-out;
      }
    }
  }

  a:not(:last-child) {
    margin-bottom: 10px;
  }

  a:hover {
    
    svg path {
      stroke: $orangeRed;
    }
  }

}