// Basic colors
$white: hsl(0, 0%, 100%);;
$black: #222222;
$orangeRed: #FF5722;
$grayishBlue: #607D8B;
$gray: #9E9E9E;

// Dark theme colors
$mainColor: $black;
$textColor: $white;
$accentColor: $orangeRed;
$secondColor: $grayishBlue;
$thirdColor: $gray;

// Font sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px
