// Basic colors
$white: #ffffff;
$black: #222222;
$orangeRed: #FF5722;
$grayishBlue: rgb(96, 125, 139);
$gray: #9E9E9E;

:root {
  --mainColor: #222222;
  --mainColorOpac: rgba(34, 34, 34, 0.5);
  --mainColorSemiOpac: rgba(34, 34, 34, 0.7);
  --textColor: #ffffff;
  --accentColor: #FF5722;
  --secondColor: #607D8B;
  --thirdColor: #9E9E9E;
}

// Font sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px
