* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-image: url('./img/background-abstract.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 600px;
}
body {
    background-color: rgba(255,255,255,0.5);
    
}

h1 {
    color: #ebebe9;
    font-size: 4rem;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black, 1px 1px 10px black, 1px 1px 10px black;
    text-align: center;
    line-height: 97vmin;
}

pre {
    text-shadow: 1px 1px 3px white;
}

span {
    opacity: 0;
    transition: all 2s ease;
}

span:hover {
    cursor: default;
}

span.fade {
    opacity: 1;
}

span.fade:hover {
    cursor: pointer;
}

span.colored {
    color: tomato;
}

@media (max-width: 600px) {
    html {
        background-image: url('./img/background-abstract-sm.jpg');
        min-width: 200px;
    }
    h1 {
        font-size: 2rem;
    }
}