:root {
  --mygreen: #475f61;
  --mygrey: #93979a;
  --mylightgrey: #bbbbc3;
  --mysilver: #f0eef1;
  --mypink: #efbdc8;
  --mybiege: #c2956e;
  --mylightbiege: #e5d1b8;
  --mydark: #2b2129;
}

body {
  font-family: 'Sofia', cursive;
  background-color: var(--mylightbiege);
  padding: 0px;
  margin: 0px;
  min-width: 350px;
}

h1 {
  font-family: 'Modak', cursive;
  font-weight: 400;
  color: var(--mydark);
  font-style: regular;
  font-size: 60px;
  font-weight: 400;
}

#navbar {
  font-family: 'Gugi', cursive;
  position: fixed;
  width: 100vw;
  height: 50px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#welcome-section {
  height: 100vh;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects {
  font-family: 'Alegreya Sans SC', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--mylightgrey);
  overflow: auto;
}

#social-media {
  min-height: 100vh;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--mylightgrey);
}

.nav-link {
  text-decoration: none;
  color: var(--mydark);
  background-color: var(--mygrey);
  border-radius: 25px;
  padding: 10px 20px;
}

img {
  border-radius: 0px;
}

.project-tile {
  background-color: var(--mygreen);
  border-radius: 0px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
}

.project-link {
  text-decoration: none;
  text-align: center;
  color: var(--mysilver);
}

.social {
  margin: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  color: var(--mygreen);
  border-radius: 165px;
  height: 170px;
  width: 170px;
  overflow: hidden;
  background-color: var(--mylightbiege);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  body {
    background: var(--mylightbiege);
  }

  #navbar {
    flex-wrap: wrap;
  }
}